Repository pyiron/structuretoolkit, pull requests merged in 2024-07, with the labels that each got.

#210 Symmetrize tensor
  structuretoolkit/analyse/symmetry.py
  tests/test_symmetry.py
Labels: enhancement, format_black, minor

#215 Extend symmetrizer
  structuretoolkit/analyse/symmetry.py
  tests/test_symmetry.py
Labels: format_black

#216 Add optimize=True in the argument to make symmetrization faster
  structuretoolkit/analyse/symmetry.py
Labels: enhancement, patch

#219 Fix equivalent atoms and add tests
  structuretoolkit/analyse/phonopy.py
  tests/test_analyse_phonopy.py
Labels: format_black
